@import "tailwindcss";

@theme {
  --color-primary: #F57C00;
  --color-accent: #1E88E5;
  --color-bg-dark: #0A0A0A;

  --font-display: var(--font-bebas-neue);
  --font-mono: var(--font-space-mono);
  --font-ui: var(--font-sora);
}

@layer utilities {
  .text-shadow-glitch {
    text-shadow: -2px 0 blue, 2px 0 orange;
  }
}
